.container {
  position: relative;
  background-color: white;
  color: rgb(13, 101, 128);
  max-width: max-content;
  margin: 5rem auto;

  border: 2px solid gray;
  padding: 2em;
  border-radius: 0.5em;
}
h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(13, 142, 202);
}
.step-number {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  background-color:  rgb(13, 142, 202);
  color: white;
  padding: 5px;
  width: 40px;
  height: 20px;
  border-radius: 0.2em;

}
.footer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-end;
}
button {
  background-color: rgb(13, 142, 202);
  font-size: large;
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
}
.page {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: minmax(auto,100px) minmax(auto, 400px);
  justify-content: center;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-enter {
  animation: slideIn 0.5s forwards;
}

.slide-exit {
  animation: slideOut 0.5s forwards;
}

.form-step {
 
  width: 100%;
}
