.container {
  position: relative;
  background-color: white;
  color: rgb(13, 101, 128);
  max-width: max-content;
  margin: 5rem auto;
  box-shadow: 10px 10px 5px gray;
  opacity: 0.7;
  border-radius: 1em;
  padding: 2em;
}
h2 {
  text-align: center;
  padding: 0.5em;
  border-radius: 0.3em;
  max-width: fit-content;
  margin: 0 auto;
  color: rgb(3, 45, 66);
  opacity: 2;

  background: conic-gradient(
    pink,
    rgb(243, 243, 169),
    rgb(196, 239, 247),
    pink
  );
}
.step-number {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  background-color: rgb(13, 142, 202);
  color: white;
  padding: 5px;
  width: 40px;
  height: 20px;
  border-radius: 0.2em;
}
.footer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-end;
}
button {
  background-color: rgb(13, 142, 202);
  font-size: large;
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
}
.page {
  margin-top: 10px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: minmax(auto, 100px) minmax(auto, 400px);
  justify-content: center;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.form-step.slide-enter {
  opacity: 1;
  animation: slideIn 2s forwards;
}
/*didnt need this bcoz the component disappars
 .form-step.slide-exit {
   opacity:0;
  animation: slideOut 1200ms forwards; 
} */

.form-step {
  /*  width: 100%;*/
  padding: 1em;
  border: solid gray 1px;
  border-radius: 0.5em;
}

/* .bg{
  position:relative;
  z-index: -1;
}
.circles>li{
position:absolute;
}
.circles{
  height:30px;
  width:30px;
  background-color: rgb(233, 226, 226);
}
li{
  animation:fall 2s ease;
}
li:nth-child(2n){
  top:10%;
  left:50%;
}
li:nth-child(2n+1){
  top:200%;
}
li:nth-child(3n){
  top:40%;
}
li:nth-child(3n+2){
  top:90%;
  left:30%
}
li:nth-child(5n){
  top:200%;
  left:77%;
}
li:nth-child(7n){
  top:500%;
  
}
li:nth-child(9n){
  top:800%;
  left:23%;
}
@keyframes fall{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(100);
  }
} */
