body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: conic-gradient(pink, rgb(248, 221, 147), skyblue, pink);
  height: 100vh;
  overflow: hidden;
}
